In [3]:
import pandas as pd

In [30]:
#df = pd.read_csv("C:/Users/Owner/Desktop/Scrapping Project/data.csv")
df = pd.read_csv("C:/Users/Owner/Documents/salary_project/salary_proj/glassdoor.csv")

In [31]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$79K-$147K (Glassdoor est.),We are looking for Data Scientists who are int...,3.7,GovTech\n3.7,"San Francisco, CA","Singapore, Singapore",1001 to 5000 employees,2016,Government,Federal Agencies,Government,Unknown / Non-Applicable,-1
1,Staff Data Scientist,$79K-$147K (Glassdoor est.),"At Vungle, our Data Scientists build systems t...",3.7,Vungle\n3.7,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2011,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"AdColony, Unity, AppLovin"
2,R&D Scientist,$79K-$147K (Glassdoor est.),"Here at Berkeley Lights, we think cells are aw...",4.3,Berkeley Lights\n4.3,"Emeryville, CA","Emeryville, CA",51 to 200 employees,2011,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10 to $25 million (USD),Fluidigm
3,Machine Learning Engineer,$79K-$147K (Glassdoor est.),About Alpha Health\nWe’re on a mission to reme...,5.0,Alpha Health\n5.0,"South San Francisco, CA","South San Francisco, CA",1 to 50 employees,2018,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
4,Data Scientist #5967,$79K-$147K (Glassdoor est.),Company Overview\n\nFanatics is the global lea...,3.4,Fanatics\n3.4,"San Mateo, CA","Jacksonville, FL",5001 to 10000 employees,1996,Company - Private,Sporting Goods Stores,Retail,$1 to $2 billion (USD),"Lids, Amazon, Under Armour"
5,Research Scientist,$79K-$147K (Glassdoor est.),"Working at the intersection of hardware, softw...",4.3,Carbon3D\n4.3,"Redwood City, CA","Redwood City, CA",201 to 500 employees,2013,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1
6,Scientist II,$79K-$147K (Glassdoor est.),Would you like to join an innovative team crea...,3.2,Fluidigm\n3.2,"South San Francisco, CA","South San Francisco, CA",501 to 1000 employees,1999,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD),"Illumina, Thermo Fisher Scientific, NanoString"
7,Senior Data Scientist,$79K-$147K (Glassdoor est.),About Us\n\nOn the off chance you've thought a...,3.8,Metromile\n3.8,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2011,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,-1
8,Data Scientist,$79K-$147K (Glassdoor est.),Role Description\nAs a data scientist at Tripl...,3.2,Triplebyte\n3.2,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2015,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
9,Data Scientist,$79K-$147K (Glassdoor est.),"Our Mission\nWe’re here to create a safer, hap...",4.5,Blue Owl\n4.5,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2016,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
10,Sr Data Scientist,$79K-$147K (Glassdoor est.),"About Figure\n\nAt Figure, we're on a mission ...",4.5,Figure\n4.5,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2018,Company - Private,Lending,Finance,Unknown / Non-Applicable,-1
11,Senior Scientist,$79K-$147K (Glassdoor est.),Would you like to join an innovative team crea...,3.2,Fluidigm\n3.2,"South San Francisco, CA","South San Francisco, CA",501 to 1000 employees,1999,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD),"Illumina, Thermo Fisher Scientific, NanoString"
12,Entry Level Master Data Analyst,$79K-$147K (Glassdoor est.),The Master Data Analyst role is responsible fo...,3.5,Ghirardelli Chocolate\n3.5,"San Leandro, CA","San Leandro, CA",1001 to 5000 employees,1852,Company - Private,Food & Beverage Manufacturing,Manufacturing,$100 to $500 million (USD),"Mars, Nestlé, Godiva Chocolatier"
13,Data Scientist,$79K-$147K (Glassdoor est.),Intro\n\nWhy this job?\n\n1. Work on a product...,5.0,Notion Labs\n5.0,"San Francisco, CA","San Francisco, CA",1 to 50 employees,2016,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
14,Data Scientist - Machine Learning,$79K-$147K (Glassdoor est.),"Headquartered in Brisbane, Calif., CareDx, Inc...",2.5,CareDx\n2.5,"Brisbane, CA","Brisbane, CA",1 to 50 employees,-1,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,Sequenom

In [32]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

In [33]:
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [34]:
df = df[df['Salary Estimate'] !='-1']

In [35]:
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [36]:
remove_dlr_K = salary.apply(lambda x: x.replace('K','').replace('$',''))

In [37]:
hr_min = remove_dlr_K.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

In [38]:
df['salary_min'] = hr_min.apply(lambda x: int(x.split('-')[0]))

In [39]:
df['salary_max'] = hr_min.apply(lambda x: int(x.split('-')[1]))

In [40]:
df['avg_salary'] = (df.salary_min+df.salary_max)/2

In [41]:
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-3], axis = 1)

In [42]:
#df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
#df.job_state.value_counts()

In [43]:
df['some_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

In [44]:
df['age'] = df.Founded.apply(lambda x: x if x<1 else 2020 - x)

In [45]:
df['python_ym'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df.python_ym.value_counts()

1    8
0    7
Name: python_ym, dtype: int64

In [46]:
df['r_ym'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() else 0)
df.r_ym.value_counts()

0    15
Name: r_ym, dtype: int64

In [47]:
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

0    10
1     5
Name: spark, dtype: int64

In [48]:
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

0    11
1     4
Name: aws, dtype: int64

In [49]:
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

0    11
1     4
Name: excel, dtype: int64

In [50]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,salary_max,avg_salary,company_txt,some_state,age,python_ym,r_ym,spark,aws,excel
0,Data Scientist,$79K-$147K (Glassdoor est.),We are looking for Data Scientists who are int...,3.7,GovTech\n3.7,"San Francisco, CA","Singapore, Singapore",1001 to 5000 employees,2016,Government,...,147,113.0,GovTech\n,0,4,1,0,0,0,1
1,Staff Data Scientist,$79K-$147K (Glassdoor est.),"At Vungle, our Data Scientists build systems t...",3.7,Vungle\n3.7,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2011,Company - Private,...,147,113.0,Vungle\n,1,9,1,0,1,1,0
2,R&D Scientist,$79K-$147K (Glassdoor est.),"Here at Berkeley Lights, we think cells are aw...",4.3,Berkeley Lights\n4.3,"Emeryville, CA","Emeryville, CA",51 to 200 employees,2011,Company - Private,...,147,113.0,Berkeley Lights\n,1,9,1,0,0,0,0
3,Machine Learning Engineer,$79K-$147K (Glassdoor est.),About Alpha Health\nWe’re on a mission to reme...,5.0,Alpha Health\n5.0,"South San Francisco, CA","South San Francisco, CA",1 to 50 employees,2018,Company - Private,...,147,113.0,Alpha Health\n,1,2,1,0,0,1,0
4,Data Scientist #5967,$79K-$147K (Glassdoor est.),Company Overview\n\nFanatics is the global lea...,3.4,Fanatics\n3.4,"San Mateo, CA","Jacksonville, FL",5001 to 10000 employees,1996,Company - Private,...,147,113.0,Fanatics\n,0,24,0,0,1,0,0
5,Research Scientist,$79K-$147K (Glassdoor est.),"Working at the intersection of hardware, softw...",4.3,Carbon3D\n4.3,"Redwood City, CA","Redwood City, CA",201 to 500 employees,2013,Company - Private,...,147,113.0,Carbon3D\n,1,7,0,0,0,0,0
6,Scientist II,$79K-$147K (Glassdoor est.),Would you like to join an innovative team crea...,3.2,Fluidigm\n3.2,"South San Francisco, CA","South San Francisco, CA",501 to 1000 employees,1999,Company - Public,...,147,113.0,Fluidigm\n,1,21,0,0,0,0,0
7,Senior Data Scientist,$79K-$147K (Glassdoor est.),About Us\n\nOn the off chance you've thought a...,3.8,Metromile\n3.8,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2011,Company - Private,...,147,113.0,Metromile\n,1,9,1,0,1,1,0
8,Data Scientist,$79K-$147K (Glassdoor est.),Role Description\nAs a data scientist at Tripl...,3.2,Triplebyte\n3.2,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2015,Company - Private,...,147,113.0,Triplebyte\n,1,5,0,0,0,0,0
9,Data Scientist,$79K-$147K (Glassdoor est.),"Our Mission\nWe’re here to create a safer, hap...",4.5,Blue Owl\n4.5,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2016,Company - Private,...,147,113.0,Blue Owl\n,1,4,1,0,0,0,0
10,Sr Data Scientist,$79K-$147K (Glassdoor est.),"About Figure\n\nAt Figure, we're on a mission ...",4.5,Figure\n4.5,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2018,Company - Private,...,147,113.0,Figure\n,1,2,1,0,1,1,1
11,Senior Scientist,$79K-$147K (Glassdoor est.),Would you like to join an innovative team crea...,3.2,Fluidigm\n3.2,"South San Francisco, CA","South San Francisco, CA",501 to 1000 employees,1999,Company - Public,...,147,113.0,Fluidigm\n,1,21,0,0,0,0,0
12,Entry Level Master Data Analyst,$79K-$147K (Glassdoor est.),The Master Data Analyst role is responsible fo...,3.5,Ghirardelli Chocolate\n3.5,"San Leandro, CA","San Leandro, CA",1001 to 5000 employees,1852,Company - Private,...,147,113.0,Ghirardelli Chocolate\n,1,168,0,0,0,0,1
13,Data Scientist,$79K-$147K (Glassdoor est.),Intro\n\nWhy this job?\n\n1. Work on a product...,5.0,Notion Labs\n5.0,"San Francisco, CA","San Francisco, CA",1 to 50 employees,2016,Company - Private,...,147,113.0,Notion Labs\n,1,4,0,0,0,0,0
14,Data Scientist - Machine Learning,$79K-$147K (Glassdoor est.),"Headquartered in Brisbane, Calif., CareDx, Inc...",2.5,CareDx\n2.5,"Brisbane, CA","Brisbane, CA",1 to 50 employees,-1,Company - Private,...,147,113.0,CareDx\n,1,-1,1,0,1,0,1

In [51]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'salary_min', 'salary_max', 'avg_salary',
       'company_txt', 'some_state', 'age', 'python_ym', 'r_ym', 'spark', 'aws',
       'excel'],
      dtype='object')

In [52]:
df.to_csv('C:/Users/Owner/Documents/salary_project/salary_proj/data_cleaning.csv', index = False)

In [53]:
pd.read_csv('C:/Users/Owner/Documents/salary_project/salary_proj/data_cleaning.csv')

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,salary_max,avg_salary,company_txt,some_state,age,python_ym,r_ym,spark,aws,excel
0,Data Scientist,$79K-$147K (Glassdoor est.),We are looking for Data Scientists who are int...,3.7,GovTech\n3.7,"San Francisco, CA","Singapore, Singapore",1001 to 5000 employees,2016,Government,...,147,113.0,GovTech\n,0,4,1,0,0,0,1
1,Staff Data Scientist,$79K-$147K (Glassdoor est.),"At Vungle, our Data Scientists build systems t...",3.7,Vungle\n3.7,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2011,Company - Private,...,147,113.0,Vungle\n,1,9,1,0,1,1,0
2,R&D Scientist,$79K-$147K (Glassdoor est.),"Here at Berkeley Lights, we think cells are aw...",4.3,Berkeley Lights\n4.3,"Emeryville, CA","Emeryville, CA",51 to 200 employees,2011,Company - Private,...,147,113.0,Berkeley Lights\n,1,9,1,0,0,0,0
3,Machine Learning Engineer,$79K-$147K (Glassdoor est.),About Alpha Health\nWe’re on a mission to reme...,5.0,Alpha Health\n5.0,"South San Francisco, CA","South San Francisco, CA",1 to 50 employees,2018,Company - Private,...,147,113.0,Alpha Health\n,1,2,1,0,0,1,0
4,Data Scientist #5967,$79K-$147K (Glassdoor est.),Company Overview\n\nFanatics is the global lea...,3.4,Fanatics\n3.4,"San Mateo, CA","Jacksonville, FL",5001 to 10000 employees,1996,Company - Private,...,147,113.0,Fanatics\n,0,24,0,0,1,0,0
5,Research Scientist,$79K-$147K (Glassdoor est.),"Working at the intersection of hardware, softw...",4.3,Carbon3D\n4.3,"Redwood City, CA","Redwood City, CA",201 to 500 employees,2013,Company - Private,...,147,113.0,Carbon3D\n,1,7,0,0,0,0,0
6,Scientist II,$79K-$147K (Glassdoor est.),Would you like to join an innovative team crea...,3.2,Fluidigm\n3.2,"South San Francisco, CA","South San Francisco, CA",501 to 1000 employees,1999,Company - Public,...,147,113.0,Fluidigm\n,1,21,0,0,0,0,0
7,Senior Data Scientist,$79K-$147K (Glassdoor est.),About Us\n\nOn the off chance you've thought a...,3.8,Metromile\n3.8,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2011,Company - Private,...,147,113.0,Metromile\n,1,9,1,0,1,1,0
8,Data Scientist,$79K-$147K (Glassdoor est.),Role Description\nAs a data scientist at Tripl...,3.2,Triplebyte\n3.2,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2015,Company - Private,...,147,113.0,Triplebyte\n,1,5,0,0,0,0,0
9,Data Scientist,$79K-$147K (Glassdoor est.),"Our Mission\nWe’re here to create a safer, hap...",4.5,Blue Owl\n4.5,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2016,Company - Private,...,147,113.0,Blue Owl\n,1,4,1,0,0,0,0
10,Sr Data Scientist,$79K-$147K (Glassdoor est.),"About Figure\n\nAt Figure, we're on a mission ...",4.5,Figure\n4.5,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2018,Company - Private,...,147,113.0,Figure\n,1,2,1,0,1,1,1
11,Senior Scientist,$79K-$147K (Glassdoor est.),Would you like to join an innovative team crea...,3.2,Fluidigm\n3.2,"South San Francisco, CA","South San Francisco, CA",501 to 1000 employees,1999,Company - Public,...,147,113.0,Fluidigm\n,1,21,0,0,0,0,0
12,Entry Level Master Data Analyst,$79K-$147K (Glassdoor est.),The Master Data Analyst role is responsible fo...,3.5,Ghirardelli Chocolate\n3.5,"San Leandro, CA","San Leandro, CA",1001 to 5000 employees,1852,Company - Private,...,147,113.0,Ghirardelli Chocolate\n,1,168,0,0,0,0,1
13,Data Scientist,$79K-$147K (Glassdoor est.),Intro\n\nWhy this job?\n\n1. Work on a product...,5.0,Notion Labs\n5.0,"San Francisco, CA","San Francisco, CA",1 to 50 employees,2016,Company - Private,...,147,113.0,Notion Labs\n,1,4,0,0,0,0,0
14,Data Scientist - Machine Learning,$79K-$147K (Glassdoor est.),"Headquartered in Brisbane, Calif., CareDx, Inc...",2.5,CareDx\n2.5,"Brisbane, CA","Brisbane, CA",1 to 50 employees,-1,Company - Private,...,147,113.0,CareDx\n,1,-1,1,0,1,0,1